.App {
  text-align: center;
}

.App-header {
  color: white;
  background-color: #1b1c1d;
  display: flex;
  position: relative;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.flex {
  display: flex;
}

.space-between{
  justify-content: space-between
}

.space-around{
  justify-content: space-around;
}

.column{
  flex-direction: column;
}

.center {
  justify-content: center;
  align-content: center;
  text-align: center;
}

.no-deco{
  text-decoration: none;
  list-style-type: none;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

nav a {
  padding: .5em;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

video {
 background-color: #ddd;
 min-width: 700px;
 min-height: 394px;
 max-height: 850px;
 width: 98%;
 height: 100%;
 margin-right: 20px;
}

button {
 margin: 5px 0px 0px 10px !important;
 width: 654px;
}

#mainContainer {
  position: relative;
  top: 118px;
  text-align: left;
  display: flex;
  flex-direction: row;
  padding-top: .5em;
  margin-left: 0;
}

.right.menu{
  height: 30px;
}

#root{
  height: 100%;
  min-height: 100% !important;
}


