#chat-room {
  width: 18vw;
  padding: 25px;
  background-color: white;

}

#write-message-button {
  background-color: #4088ed;
  color: white;
  display: flex-grow;
  width: 10rem;
}

#messages {
  overflow: scroll;
  min-height: 450px;
  max-height: 450px;
  padding-bottom: 40px;
}

#message-input {
  min-height: 45px;
  max-height: 45px;
}
