#chat-room {
  width: 18vw;
  padding: 25px;
  background-color: white;
  border: 1px solid lightgrey;

}

#write-message-button {
  background-color: #C12B45;
  color: white;
  display: flex-grow;
  width: 10rem;
}

#messages {
  word-wrap: break-word;
  overflow-y: scroll;
  min-height: 450px;
  max-height: 450px;
  padding-bottom: 40px;
}

#message-input {
  min-height: 45px;
  max-height: 45px;
}
