.following-item:hover {
  color: white!important;
}

i:hover {
  text-shadow: 0px 0px 3px white;
}

.following-item-empty {
  color: black;
}

#following-list{
  background-color: #2d2e30;
  border: 1px solid white;
  width: 90%;
  margin-left: 4%;
  color: ;
}

#following {
  min-height: 100vh;
  width: 25%;
  max-width: 215px;
  min-width: 130px;
  background: linear-gradient(180deg, #C12B45 0%, #DB6C1E 100%);
  margin-left: 0;
  margin-top: -10px;
  margin-bottom: 0;
}

#follow-header{
  color: white;
  position: relative;
  left: 9%;
  padding: 26px 2px 2px 2px;
  font-size: 16px;
}

h2 {
  margin-left: 4%;
  font-size: 21px;
}

@media only screen and (max-width: 520px){
  #following {
    display: none;
  }
}
