#home-div{
  display: flex;
  justify-content: center;
  height: 85vh;
  width: 100%;
  margin-top: 10px;
}

#category-flex-wrapper{
  display: flex;
  flex-wrap: wrap;
  width: 1200px;
  height: 100%;
  align-items: center;
}

.home-img{
  height: 375px;
  width: 500px;
  opacity: 0.8;
  border: 1px solid black;
}

.home-img:hover{
  opacity: 1.0;
  box-shadow: 2px 2px black;
}

.container{
  height: 35%;
  margin-top: 3em;
  width: 300px;
  position: relative;
  text-align: center;
  color: white;
  flex: 0 1 calc(50% - 40px);
}

.center-text{
  position: absolute;
  top: 126px;
  left: 50%;
  transform: translate(-50%, 50%);
  text-shadow: 2px 2px black;
}

.white{
  color: white;
}

.white:hover{
  color: white;
}

@media only screen and (max-height: 910px) {
  .container{
    min-height: 400px;
    margin-top: 0;
  }
}

@media only screen and (max-width: 1300px){
  #category-flex-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 840px;
    align-items: center;
  }
  .home-img{
    height: 300px;
    width: 400px;
  }
  .center-text{
    position: absolute;
    top: 22%;
    left: 55%;
  }
  #performer-text{
    top: 12%;
  }
} 

@media only screen and (max-width: 1100px){
  #category-flex-wrapper{
    display: flex-table;
    width: 730px;
    align-items: center;
  }
  .container{
    min-height: 300px;
  }
  .home-img{
    height: 275px;
    width: 350px;
  }
  .center-text {
    left: 58%;
  }
  #production-text{
    top: 12%;
  }
}

@media only screen and (max-width: 800px){
  #category-flex-wrapper{
    display: table;
    width: 100vw;
    align-items: center;
  }
  .container{
    height: 160px;
    min-height: 0;
  }
  .home-img{
    position: absolute;
    right: 10vw;
    clip:rect(0px, 550px, 150px, 0px);
  }
  .center-text{
    top: 4%;
    left: 16%;
  }
  #performer-text{
    top: 3%;
    left: 18%;
  }
  #production-text{
    top: 7%;
  }
}

@media only screen and (max-width: 520px){
  #category-flex-wrapper {
    position: absolute;
    left: 12vw;
  }
  .center-text{
    top: 8%;
    left: 24%;
  }
  #performer-text{
    top: -14%;
    left: 26%;
  }
  #production-text{
    top: 8%;
    left: 26%;
  }
}