.header{
  text-align: left;
  display: flex;
  flex-direction: row;
  padding: .75em;
  height: 115px;
  margin-bottom: 3px;
}

.App-logo{
  height: 70px;
  border-radius: 50%;
  display: block;
  margin: 0 0 10px 14px;
}

.App-logo:hover{
  box-shadow: 0px 0px 2px white;
}

.logo-and-text{
  display: flex;
  width: 96px;
  padding-left: 10px;
}

#header-logo-text{
  font-family: 'Fugaz One', cursive;
  font-weight: lighter;
  position: absolute;
  bottom: 0;
  margin-bottom: 10px;
  color: rgba(255, 255, 255, .93);
}

#header-logo-text:hover{
  color: white;
}

.nav-options{
  width: 80%;
  margin: 0px 2%;
  position: absolute;
  bottom: 0;
  left: 15%;
}

.nav-item{
  height: 30px;
}

.nav-link{
  height: 10px;
  text-decoration: none;
  position: relative;
  top: 70%;
}

.ui.inverted.pointing.secondary.menu{
  height: 100px;
}

.ui.inverted.pointing.secondary.menu a.item{
  color: rgba(255, 255, 255, .93)!important;
}

.ui.inverted.pointing.secondary.menu a.item:hover{
  color: rgba(255, 255, 255)!important;
}

.drop-choice{
  color: black;
}

.borderless{
  border-style: none !important;
  font-size: 17px;
}

#user-sprite{height: 66px;
  width: 66px;
  border-radius: 50%;
}

#drop-text{
  color: rgb(255, 255, 255, .93);
  flex-wrap: nowrap;
}

.dropdown.icon{
  top: 5px;
  right: 7px;
}

#drop-text:hover{
  color: white;
}

#user-drop-down{
  left: 20px;
  top: 10px;
  display: flex;
  flex-direction: column;
  height: 100px;
  align-items: center;
}

.ui.dropdown{
  display: flex;
}

@media only screen and (max-width: 800px){
  #user-drop-down{
    display: none;
  }
  .logo-and-text {
    display: none;
  }
  .ui.inverted.pointing.secondary.menu{
    position: absolute;
    top: -7.5em;
    left: -5em;
  }
  .item{
    font-size: 1em;
  }
}

@media only screen and (min-width: 1292px){
  .nav-options{
    position: absolute;
    left: 200px;
  }
  .ui.inverted.pointing.secondary.menu a.item{
    padding-right: 6vw;
  }
}