body {
  height: 100%;
  background-image: url("../pics/jtv-bg.png"); /*captured gradient as image for performant responsiveness*/
}

#streamer-about {
  justify-content: center;
  margin-top: 8px;
  display: flex;
  padding-left: 20px;
  height: 80vh;
  width: 80vw;
}

#card {
  margin-right: 30px;
  height: 100%;
  width: 30%;
  max-width: 290px;
  min-width: 175px;
  min-height: 640px;
  border: solid lightgray 1px;
}

#profile-photo {
  max-height: 160px;
}

#bio {
  background-color: white;
  padding: 12px;
  margin-left: 40px;
  height: 100%;
  width: 70%;
  border: solid lightgray 1px;
  border-radius: 5px;
  box-shadow: .0004px .0004px .0004px .0004px;
}

#bio-container{
  width: 90%;
}

#bio-header {
  margin-top: 20px;
  text-align: center;
}

#bio-text{
  color: black;
}

#bandcamp {
  color: white;
  background-color: #629aa9;
}

#soundcloud {
  color: white;
  background-color: #ff8800;
}

#spotify {
  color: white;
  background-color: #1db954;
}

#itunes {
  color: white;
  background-color: #4ed4b3;
}

#followers {
  text-align: center;
  position: relative;
  top: -5px;
}

#social-media {
  align-items: center;
  justify-content: center;
  margin-right: 19px;
}

#name{
  height: 30px;
  margin-bottom: 0px;
}

#card-info{
  height: 20%;
}
