body {
  height: 100%;
  background: linear-gradient(0deg, #d8d8d8 87%, white 13%);
}

#streamer-about {
  justify-content: center;
  margin-top: 8px;
  display: flex;
  padding-left: 20px;
/*  background-color: #d8d8d8;
  position: absolute;*/
}

#card {
  margin-right: 60px;
}

#bio {
  background-color: white;
  padding: 12px;
  margin-left: 40px;
  margin-right: 40px;
  height: 712px;
  width: 800px;
  border: solid lightgray 1px;
  border-radius: 5px;
  box-shadow: .0004px .0004px .0004px .0004px;
}

#bio-header {
  margin-top: 20px;
  text-align: center;
}

#bandcamp {
  color: white;
  background-color: #629aa9; 
}

#soundcloud {
  color: white;
  background-color: #ff8800;
}

#spotify {
  color: white;
  background-color: #1db954;
}

#itunes {
  color: white;
  background-color: #4ed4b3;
}

#followers {
  text-align: center;
}

#social-media {
  align-items: center;
  justify-content: center;
  margin-right: 19px;
}
