.stream-window{
  display: flex;
  width: 80vw;
}

.ui.borderless.menu{
  width: 1500px;
  margin-left: 16px;
}

.stream-header{
  position: relative;
  max-width: 895px;
}

.streamer-thumb{
  height: 60px;
  width: 60px;
  border-radius: 5%;
  border-style: solid;
  border-width: 2px;
}

#update-btn{
  height: 35px;
  width: 100px;
}

#title-input{
  margin-left: 10px;
  width: 600px;
  align-self: baseline;
  font-size: 1.2em;
}

#category-dropdown{
  font-size: 1.0em;
}

#title-category-form{
  height: 60px;
  position: relative;
  top: 15px;
}

.stream-title{
  margin-left: 10px;
  position: relative;
  top: 12px;
  font-size: 1.5em;
}

.stream-category{
  margin-left: 10px;
  position: relative;
  top: 43px;
}
