.right.menu{
  height: 40px;
}

#stream-nav{
  width: 62vw;
  min-width: 700px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.ui.basic.segment.stream-window {
  margin: 0;
}

#live-label{
  padding: 2px;
}

#live-label-text{
  min-width: 100px;
  padding-top: 12px;
}

#nav-root{
  width: 100%;
}
