.jammer-list{
  flex-wrap: wrap;
  padding: 15px;
  padding-right: 0px;
}

.jammer-div{
  flex-wrap: wrap;
  padding: 12px;
  background-color: #4f5154;
  margin: 0px 10px 15px 10px;
  border: 2px solid black;
}

.jammer-div:hover{
  box-shadow: 1px 1px black;
}

.category-header{
  width: 80vw;
}

.jammer-photo{
  height: 225px;
  width: 225px;
  border: 2px solid white;
}

.parent{
  height: 80%;
  width: 80%;
}

.jammer-title{
  margin-top: 2px;
  margin-bottom: 0;
  align-self: flex-start;
  color: white;
}

.stream-detail{
  align-self: flex-start;
  margin-top: 2px;
  color: white;
  margin-bottom: 1px;
}

#header-text{
  font-size: 2.6em;
  margin-top: 5px;
}

#live-channels-btn{
  font-size: 1.5em;
  border: 1px solid black
}

#all-channels-btn{
  font-size: 1.5em;
  color: white;
  background-color: black;
}

#displaying{
  margin-right: 60px;
}

.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before{
  background-color: green !important;
}

div.flex.center.category-header {
  margin-top: 12px;
}
