.stream-window{
  display: flex;
  width: 100%;
  height: 90%;
  min-width: 720px;
  min-height: 410px;
}

.ui.borderless.menu{
  width: 1500px;
  margin-left: 16px;
}

.stream-footer{
  min-width: 700px;
  width: 64vw;
  padding: 5px;
}

.field{
  align-self: baseline;
}

.streamer-thumb{
  height: 60px;
  width: 60px;
  border-radius: 5%;
  border: solid lightgrey;
  border-width: 2px;
}

#update-btn{
  height: 35px;
  width: 100px;
}

#title-input{
  margin-left: 10px;
  width: 35vw;
  align-self: baseline;
  font-size: 1.2em;
}

#category-dropdown{
  font-size: 1.0em;
}

#title-category-form{
  height: 60px;
  position: relative;
  top: 15px;
}

.stream-title{
  margin-left: 10px;
  font-size: 1.5em;
  margin-top: 5px;
}

.stream-category{
  margin-left: 10px;
  position: relative;
  top: 43px;
}

.footer-name{
  margin-left: 10px;
}

.stream-footer-viewer{
  height: 50px;
  margin-top: 2px;
}

.stream-root{
  width: 100%;
  height: 90vh;
  min-height: 500px;
}
